/*the header */
.home {
  background-color: rgb(219, 219, 219);
}
.navbar {
  display: flex;
  justify-content: space-between;
}

.logOutSection {
  display: flex;
  flex-direction: row;
}
.logOutSection h4 {
  padding-top: 0.4em;
  padding-right: 2em;
}
.svgLogOut {
  font-size: 2em;
  color: black;
  border-radius: 50%;
}
.svgLogOut:hover {
  font-size: 2em;
  color: rgb(56, 182, 255);
  border-radius: 50%;
}
.profile-picture {
  width: 4rem;
  height: 4rem;
}
.profile {
  display: flex;
  justify-content: flex-start;
}
.profile h6 {
  padding-top: 1.6em;
  margin-left: 3em;
}
/*Drop down icon*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -10em;
    margin-top: -0.18em;
    font-size: 0.5em;
    border-radius: 2em;
  }
  .dropdown-content a {
    color: black;
    padding: 0.5em 1.5em;
    text-decoration: none;
    display: block;
  }
  .dropdown-content svg {
    color: rgb(75, 213, 255);
    
  }
  .dropDownTitle{
    border-radius: 2em;
  background-color:rgb(113, 232, 253);
}
.dropDownTitle:hover{
  color: black!important;
}
.dropdown:hover .dropdown-content {display: block;}
/* this is the container */
.pageBody {
  background-color: white;
  padding: 7em 2em 0em 2em;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 0em 5em;
}

.container .rounded-circle {
  width: 13rem;
  height: 13rem;
}
.card-title {
  padding-top: 1em;
  font-size: 1.5em!important;
  text-decoration: none;
  color: black;
}
.card-title:hover {
  text-decoration: none;
}
.card:hover {
  text-decoration: none;
}
.card{
  border:none!important;
}
/* school result section*/
.first-check{
  display: flex;
  justify-content: space-around;
}
.form-group{
  display: flex;
  padding-left: 3em;
  padding-top: 0.8em;
}
.form-row{
  padding-left: 3em;
}
.form-label{
margin-right: 7em;
}
.row-first-form{
  padding-left: 0.2em;
}
.row-first-form .form-label{
  margin-right: 9.9em;
}
.row-second-form{
  margin-left: 3em;
}
.row-second-form2{
  margin-left: 5em;
}
.row-second-form .form-control{
  width: 20em;
}
.last-form .form-label{
  margin-right: 5.4em;
}
.pageBodyResult{
  background-color: #f3f7fb;
  padding: 0.5em 2em 0em 2em;
}
.result-upper-btns{
  display: flex;
  justify-content: space-around;  
}
.school-test-button{
  display: flex;
  justify-content: flex-end;
  margin-right: 16em;
}
.upper-button{
  border: none;
  background-color: #69c4da;
  border-radius: 5px;
  padding: 0.23em 1em;
  color: white;
}
.form-control-sm{
  width: 15em;
}
.form-label{
  font-size: 1.35em;
}
.btn{
  margin-top: 0em;
  margin-left: 30em;
  padding: 0.4em 2em;
  background-color: #04044a!important;
  border-color: #04044a!important;
}

.nav-title{
  display: flex!important;
  justify-content: center!important;
  font-size: 1.6em;
}
.second-nav{
  display: flex;
  justify-content: center;
  padding: 0.9em 0em;
}

/* this is the approval result component css */
.search-btn{
  background-color: #9583c7!important;
  border-color: #9583c7!important;
  padding: 0.3em 2.5em;
  margin-top: 0em;
}
.checkbox-result{
  display: flex;
  justify-content: space-around;
}
.approval-case{
  background-color: #66c4e1;
display: flex;
justify-content: center;
}

.S-table{
  margin: 1em 8em;
}
/*the modification of the SchoolResult component*/
.title{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 0.7em;
}
.btnSchoolResult{
  margin-left:20em!important;
}
/*this the scc of page enter market */
.market-row-first-form{
  padding-top: 0.2em;
  padding-left: 0.2em;
  margin-bottom: 0em;
}
.market-row-first-form label{
 margin-right: 0.8em;
}
.market-row-second-form{
  padding-top: 0.2em;
  margin-left: 1em;
  margin-bottom: 0em;
}